<ion-header>
  <ion-toolbar> 
    <ion-back-button defaultHref="tabs/basic" slot="start"></ion-back-button>
      <ion-title class="icon">
        <img src="/assets/icon/favicon.png" alt="iconNotFound">
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class="title">Magic Stick</h1>
<img src="/assets/basicItems/MagicStick.png" alt="iconNotFound" class="mainImg">

<h6>ACTIVE: ENERGY CHARGE</h6>
<p>Instantly restores 15 health and mana per charge stored</p>
<p>Max 10 charges. Gains a charge whenever 
  a visible enemy within 1200 range uses an ability. </p>

<ion-grid>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/cooldown.png">
    </ion-col>
    <ion-col>
      13 Seconds
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/mana.png">
    </ion-col>
    <ion-col>
      0
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    Cost:
  </ion-col>
  <ion-col>
    200
  </ion-col>
</ion-row>
</ion-grid>
<div class="description">A simple wand used to channel magic energies,
   it is favored by apprentice wizards and great warlocks alike. </div>
</ion-content>
