<ion-header>
  <ion-toolbar>
    <ion-title class="icon">
      <img src="/assets/icon/favicon.png" alt="iconNotFound">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tab-bar>
  <ion-tab-button tab="basic">
    <ion-label>Basic</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="upgraded">
    <ion-label>Upgraded</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="neutral">
    <ion-label>Neutral</ion-label>
  </ion-tab-button>
</ion-tab-bar>

  <ion-content>
    <ion-grid>
  
      <!--Tier 1-->
      <div class="tiers">Tier 1</div>
      <div>Drop Time 7-15 Mins, Drop Rate 14%</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-tab-button tab="arcanering">
              <img src="/assets/neutralItems/Arcane_Ring_icon.png" alt="PicNotFound">
            </ion-tab-button>
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Broom_Handle_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Faded_Broach_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Iron_Talon_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Ironwood_Tree_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Keen_Optic_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Mango_Tree_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Ocean_Heart_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Poor_Man's_Shield_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Royal_Jelly_1_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Trusty_Shovel_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <!--Tier 2-->
      <div class="tiers">Tier 2</div>
      <div>Drop Time 15-25 Mins, Drop Rate 10%</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Clumsy_Net_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Essence_Ring_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Imp_Claw_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Philosopher's_Stone_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Ring_of_Aquila_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Vambrace_(Intelligence)_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Vampire_Fangs_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Dragon_Scale_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Grove_Bow_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Nether_Shawl_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Pupil's_Gift_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <!--Tier 3-->
      <div class="tiers">Tier 3</div>
      <div>Drop Time 25-40 Mins, Drop Rate 10%</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Craggy_Coat_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Greater_Faerie_Fire_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Orb_of_Destruction_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Quickening_Charm_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Spider_Legs_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Titan_Sliver_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Enchanted_Quiver_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Mind_Breaker_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Paladin_Sword_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Repair_Kit_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Telescope_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <!--Tier 4-->
      <div class="tiers">Tier 4</div>
      <div>Drop Time 40-60 Mins, Drop Rate 10%</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Flicker_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Illusionist's_Cape_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Minotaur_Horn_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Prince's_Knife_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/The_Leveller_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Witless_Shako_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Havoc_Hammer_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Magic_Lamp_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Ninja_Gear_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Spell_Prism_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Timeless_Relic_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <!--Tier 5-->
      <div class="tiers">Tier 5</div>
      <div>Drop Time 60+ Mins, Drop Rate 10%</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Apex_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Book_of_the_Dead_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Fallen_Sky_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Mirror_Shield_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Seer_Stone_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Woodland_Striders_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Ballista_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Ex_Machina_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/neutralItems/Force_Boots_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Pirate_Hat_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Stygian_Desolator_icon.png" alt="PicNotFound">
          </ion-col>
          <ion-col>
            <img src="/assets/neutralItems/Trident_icon.png" alt="PicNotFound">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-content>
