<ion-header>
  <ion-toolbar> 
    <ion-back-button defaultHref="tabs/upgraded" slot="start"></ion-back-button>
      <ion-title class="icon">
        <img src="/assets/icon/favicon.png" alt="iconNotFound">
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class="title">Magic Wand</h1>
<img src="/assets/UpgradedItems/MagicWand.png" alt="iconNotFound" class="mainImg">

<h6>ACTIVE: ENERGY CHARGE</h6>
<p>Instantly restores 15 health and mana per charge stored</p>
<p>Max 20 charges. Gains a charge whenever 
  a visible enemy within 1200 range uses an ability. </p>

<ion-grid>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/cooldown.png">
    </ion-col>
    <ion-col>
      15 Seconds
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/mana.png">
    </ion-col>
    <ion-col>
      0
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    Cost:
  </ion-col>
  <ion-col>
    450
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Charges:
  </ion-col>
  <ion-col>
    0
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Bonus:
  </ion-col>
  <ion-col>
    +3 All Attributes 
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Disassemble?
  </ion-col>
  <ion-col>
    No
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Alert allies?
  </ion-col>
  <ion-col>
    No
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 10px;">
    Recipe:
  </ion-col>
  <ion-col>
    <img src="/assets/basicItems/MagicStick.png">
  </ion-col>
  <ion-col>
    <img src="/assets/basicItems/IronBranch.png">
  </ion-col>
  <ion-col>
    <img src="/assets/basicItems/IronBranch.png">
  </ion-col>
  <ion-col>
    <img src="/assets/UpgradedItems/recipe.png">
  </ion-col>
</ion-row>
</ion-grid>
<div class="description">A simple wand used to channel magic energies,
  it is favored by apprentice wizards and great warlocks alike. </div>
</ion-content>
