<ion-header>
  <ion-toolbar>
    <ion-title class="icon">
      <img src="/assets/icon/favicon.png" alt="iconNotFound">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tab-bar>
  <ion-tab-button tab="basic">
    <ion-label>Basic</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="upgraded">
    <ion-label>Upgraded</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="neutral">
    <ion-label>Neutral</ion-label>
  </ion-tab-button>
</ion-tab-bar>


<ion-content>
  <ion-grid>
    <!--Consumables-->
    <div class="tiers">Consumables</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tab-button tab="townportal">
            <img src="/assets/basicItems/TownPortalScroll.png" alt="PicNotFound">
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Clarity.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/FaerieFire.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/SmokeOfDeceit.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/ObserverWard.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/SentryWard.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/EnchantedMango.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/HealingSalve.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/Tango.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/TomeofKnowledge.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/SmokeOfDeceit.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Bottle.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Attributes-->
    <div class="tiers">Attributes</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/IronBranch.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/GauntletsOfStrength.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/SlippersOfAgility.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/MantleOfIntelligence.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/Circlet.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/BeltofStrength.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/BandofElvenskin.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/RobeoftheMagi.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/Crown.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/OgreAxe.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/BladeofAlacrity.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/StaffofWizardry.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Equipment-->
    <div class="tiers">Equipment</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/RingOfProtection.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/QuellingBlade.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/InfusedRaindrop.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/OrbofVenom.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/BlightStone.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/BladesofAttack.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Chainmail.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Quarterstaff.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/HelmofIronWill.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Javelin.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Broadsword.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Claymore.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/basicItems/MithrilHammer.png" alt="PicNotFound">
      </ion-col>
      </ion-row>
    </ion-grid>
    <!--Miscellaneous-->
    <div class="tiers">Miscellaneous</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tab-button tab="magicstick">
            <img src="/assets/basicItems/MagicStick.png" alt="PicNotFound">
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/WindLace.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/RingOfRegen.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Sage'sMask.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/BootsofSpeed.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/GlovesofHaste.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Cloak.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/RingofTarrasque.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/GemofTrueSight.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/MorbidMask.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/ShadowAmulet.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/GhostScepter.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/basicItems/BlinkDagger.png" alt="PicNotFound">
      </ion-col>
      </ion-row>
    </ion-grid>
    <!--SecretShop-->
    <div class="tiers">Secret Shop</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/RingOfHealth.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/VoidStone.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/EnergyBooster.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/VitalityBooster.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/PointBooster.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Platemail.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/TalismanofEvasion.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Hyperstone.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/basicItems/UltimateOrb.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/DemonEdge.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/MysticStaff.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/basicItems/Reaver.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/basicItems/Eaglesong.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/basicItems/SacredRelic.png" alt="PicNotFound">
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
