<ion-header>
  <ion-toolbar>
    <ion-title class="icon">
      <img src="/assets/icon/favicon.png" alt="iconNotFound">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!--Strenght-->
    <img src="/assets/icon/Strength_attribute_symbol.png" alt="iconNotFound" class="Stn">
    <div class="tiersStn">Strength</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tab-button tab="abaddon">
          <img src="/assets/Heroes/Abaddon_icon.png" alt="PicNotFound">
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Alchemist_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Axe_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Beastmaster_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Brewmaster_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Bristleback_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Centaur_Warrunner_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Chaos_Knight_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Clockwerk_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Doom_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Dragon_Knight_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Earth_Spirit_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Earthshaker_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Elder_Titan_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Huskar_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Io_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Kunkka_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Legion_Commander_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Lifestealer_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Lycan_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Magnus_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Mars_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Night_Stalker_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Omniknight_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Phoenix_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Pudge_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Sand_King_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Slardar_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Snapfire_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Spirit_Breaker_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Sven_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Tidehunter_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Timbersaw_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Tiny_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Treant_Protector_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Tusk_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Underlord_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Undying_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Wraith_King_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--Agility-->
    <img src="/assets/icon/Agility_attribute_symbol.png" alt="iconNotFound" class="Agi">
    <div class="tiersAgi">Agility</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Anti-Mage_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Arc_Warden_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Bloodseeker_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Bounty_Hunter_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Broodmother_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Clinkz_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Drow_Ranger_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Ember_Spirit_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Faceless_Void_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Gyrocopter_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Juggernaut_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Lone_Druid_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Luna_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Medusa_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Meepo_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Mirana_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Monkey_King_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Morphling_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Naga_Siren_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Nyx_Assassin_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Pangolier_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Phantom_Assassin_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Phantom_Lancer_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Razor_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Riki_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Shadow_Fiend_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Slark_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Sniper_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Spectre_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Templar_Assassin_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Terrorblade_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Troll_Warlord_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Ursa_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Vengeful_Spirit_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Venomancer_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Viper_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Weaver_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col> </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <!--Intelligence-->
    <img src="/assets/icon/Intelligence_attribute_symbol.png" alt="iconNotFound" class="Int">
    <div class="tiersInt">Intelligence</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Ancient_Apparition_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Bane_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Batrider_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Chen_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Crystal_Maiden_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Dark_Seer_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Dark_Willow_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Dazzle_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Death_Prophet_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Disruptor_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Enchantress_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Enigma_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Grimstroke_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Invoker_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Jakiro_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Keeper_of_the_Light_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Leshrac_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Lich_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Lina_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Lion_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Nature's_Prophet_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Necrophos_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Ogre_Magi_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Oracle_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Outworld_Devourer_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Puck_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Pugna_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Queen_of_Pain_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Rubick_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Shadow_Demon_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Shadow_Shaman_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Silencer_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Skywrath_Mage_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Storm_Spirit_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Techies_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Tinker_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Visage_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Void_Spirit_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Warlock_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Windranger_icon.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/Heroes/Winter_Wyvern_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Witch_Doctor_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/Heroes/Zeus_icon.png" alt="PicNotFound">
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>

