.icon img{
    height: 35px;
    width: 35px;
  }
  ion-title {
    text-align: center;
  }

  .Stn img{
    float: left;
  }
  .tiersStn{
    color: red;
    font-weight: 900;
    float: left;
    margin-top: 10px;
  }
  .Agi img{
    float: left;
  }
  .tiersAgi{
    color: rgb(2, 224, 2);
    font-weight: 900;
    float: left;
    margin-top: 10px;
  }

  .Int img{
    float: left;
  }
  .tiersInt{
    color: rgb(0, 202, 253);
    font-weight: 900;
    float: left;
    margin-top: 10px;
  }  
