<ion-header>
  <ion-toolbar> 
    <ion-back-button defaultHref="tabs/basic" slot="start"></ion-back-button>
      <ion-title class="icon">
        <img src="/assets/icon/favicon.png" alt="iconNotFound">
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class="title">Town Portal Scroll</h1>
  <img src="/assets/basicItems/TownPortalScroll.png" alt="iconNotFound" class="mainImg">
  
  <h6>USE: TELEPORT</h6>
  <p>After channeling for 3 seconds, teleports you to a target friendly building. </p>
  <p>Double-click to teleport to your team's base fountain. </p>
  <p style="color: chartreuse;">If multiple heroes teleport to the same location in succession,
     the channeling time will be increased for each successive hero. </p>
  <p style="color: chartreuse;">Teleport can be prevented or canceled by Root abilities</p>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/icon/cooldown.png">
      </ion-col>
      <ion-col>
        80 Seconds
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
        <img src="/assets/icon/mana.png">
      </ion-col>
      <ion-col>
        75
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          Cost:
        </ion-col>
        <ion-col>
          90
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="description">What a hero truly needs. </div>
</ion-content>
