<ion-header>
  <ion-toolbar>
    <ion-title class="icon">
      <img src="/assets/icon/favicon.png" alt="iconNotFound">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tab-bar>
  <ion-tab-button tab="basic">
    <ion-label>Basic</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="upgraded">
    <ion-label>Upgraded</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="neutral">
    <ion-label>Neutral</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-content>
  <ion-grid>

    <!--Accessories-->
    <div class="tiers">Accessories</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tab-button tab="magicwand"> 
          <img src="/assets/UpgradedItems/MagicWand.png" alt="PicNotFound">
        </ion-tab-button>
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/NullTalisman.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/WraithBand.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Bracer.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/SoulRing.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/PowerTreads.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/PhaseBoots.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/OblivionStaff.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/Perseverance.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/MaskOfMadness.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/HelmOfTheDominator.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/HandOfMidas.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <img src="/assets/UpgradedItems/BootsOfTravel1.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/MoonShard.png" alt="PicNotFound">
        </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!--Support-->
    <div class="tiers">Support</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/RingOfBasilius(Active).png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Headdress.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Buckler(Inactive).png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/UrnOfShadows.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/TranquilBoots(Active).png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/MedallionOfCourage.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/ArcaneBoots.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/DrumOfEndurance.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/Vladmir'sOffering.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Mekansm.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/HolyLocket.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/SpiritVessel.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/PipeOfInsight.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/GuardianGreaves.png" alt="PicNotFound">
        </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!--Magical-->
    <div class="tiers">Magical</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/GlimmerCape.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/VeilOfDiscord.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/ForceStaff.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/AetherLens.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/Necronomicon1.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Dagon1.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Eul'sScepterOfDivinity.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/RodOfAtos.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/SolarCrest.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/OrchidMalevolence.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Aghanim'sScepter.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Nullifier.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/UpgradedItems/RefresherOrb.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/ScytheOfVyse.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/OctarineCore.png" alt="PicNotFound">
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!--Armor-->
    <div class="tiers">Armor</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/HoodOfDefiance.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Vanguard.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/BladeMail.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/SoulBooster.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/AeonDisk.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/CrimsonGuard.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/LotusOrb.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/BlackKingBar.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/HurricanePike.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Shiva'sGuard.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/MantaStyle.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Bloodstone.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/UpgradedItems/Linken'sSphere.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/HeartOfTarrasque.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/AssaultCuirass.png" alt="PicNotFound">
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!--Weapons-->
    <div class="tiers">Weapons</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/Crystalys.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/ArmletOfMordiggian(Inactive).png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/MeteorHammer.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/ShadowBlade.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/SkullBasher.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/MonkeyKingBar.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/BattleFury.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/EtherealBlade.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/Radiance(Active).png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Daedalus.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Butterfly.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/SilverEdge.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/UpgradedItems/DivineRapier.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/AbyssalBlade.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/Bloodthorn.png" alt="PicNotFound">
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!--Artifacts-->
    <div class="tiers">Artifacts</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/DragonLance.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Sange.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Yasha.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Kaya.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/EchoSabre.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Maelstrom.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/DiffusalBlade.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/Heaven'sHalberd.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="/assets/UpgradedItems/Desolator.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/KayaAndSange.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/SangeAndYasha.png" alt="PicNotFound">
        </ion-col>
        <ion-col>
          <img src="/assets/UpgradedItems/YashaAndKaya.png" alt="PicNotFound">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <img src="/assets/UpgradedItems/Satanic.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/EyeOfSkadi.png" alt="PicNotFound">
      </ion-col>
      <ion-col>
        <img src="/assets/UpgradedItems/Mjollnir.png" alt="PicNotFound">
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
