.icon img{
    height: 35px;
    width: 35px;
  }
  ion-title {
    text-align: center;
  }
  ion-tab-bar{
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img{
    height: 60px;
    width: 70px;
  }
  .tiers {
    color: red;
    font-weight: 900;
  }