.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .icon img{
    height: 35px;
    width: 35px;
  }
  ion-title {
    text-align: center;
  }
  .title{
  color: red;
  font-weight: 900;
  font-size: 20px;
  }
  .UpdateContentTop{
    text-align: left;
    font-size: 12px;
  }
  .UpdateContent{
    margin-top: 10px;
    margin-left: -70px;
    text-align: left;
    font-size: 12px;
  }
  .UpdateImg{
    height: 50px;
    width: 60px;
  }
  .UpdateHeroName{
    color: red;
    margin-top: 10px;
    margin-left: -70px;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
  }
  .linkIcon{
    margin-top: 3px;
    height: 17px;
    width: 17px;
  }
  .link{
    margin-top: 17px;
    margin-left: -120px;
    text-align: left;
    font-size: 12px;
    text-decoration: none;
    color: white;
  }

  