<ion-header>
  <ion-toolbar> 
    <ion-back-button defaultHref="tabs/heroes" slot="start"></ion-back-button>
      <ion-title class="icon">
        <img src="/assets/icon/favicon.png" alt="iconNotFound">
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class="title">ABADDON</h1>
<img src="/assets/Heroes/Abaddon_icon.png" alt="iconNotFound" class="mainImg">

<h6>Melee - Support - Carry - Durable</h6>

<ion-grid>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/Intelligence_attribute_symbol.png">
    </ion-col>
    <ion-col>
      18 + 2.00 
    </ion-col>
    <ion-col>
      <img src="/assets/icon/attackDamage.png">
    </ion-col>
    <ion-col>
      28 - 38
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/Agility_attribute_symbol.png">
    </ion-col>
    <ion-col>
      23 + 1.50
    </ion-col>
    <ion-col>
      <img src="/assets/icon/movmentSpeed.png">
    </ion-col>
    <ion-col>
      325 
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    <img src="/assets/icon/Strength_attribute_symbol.png">
  </ion-col>
  <ion-col>
    23 + 3.00
  </ion-col>
  <ion-col>
    <img src="/assets/icon/armor.png">
  </ion-col>
  <ion-col>
    2.22 
  </ion-col>
</ion-row>
</ion-grid>


<ion-card>
  <img src="assets/heroesAbilities/abaddon_death_coil.png" />
  <ion-card-header>
    <ion-card-title>Mist Coil</ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
    <img src="assets/icon/mana.png">
      </ion-col>
      <ion-col>
    50
      </ion-col>
      <ion-col>
        <img src="assets/icon/cooldown.png">
          </ion-col>
          <ion-col>
            5.50
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ability:
      </ion-col>
      <ion-col>
    Unit target
      </ion-col>
      <ion-col>
        Affects:
          </ion-col>
          <ion-col>
            Heroes
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Damage type:
      </ion-col>
      <ion-col>
        Magical
      </ion-col>
      <ion-col>
        Pierces spell immunity:
          </ion-col>
          <ion-col>
            No
              </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content class="Ccontent">
    abaddon releases a coil of deathly mist that can damage an enemy 
    unit or heal a friendly unit at the cost of some of Abaddon's health.
  </ion-card-content>
</ion-card>


<ion-card>
  <img src="assets/heroesAbilities/abaddon_aphotic_shield.png" />
  <ion-card-header>
    <ion-card-title>Aphotic Shield</ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
    <img src="assets/icon/mana.png">
      </ion-col>
      <ion-col>
        100/105/110/115
      </ion-col>
      <ion-col>
        <img src="assets/icon/cooldown.png">
          </ion-col>
          <ion-col>
            12/10/8/6
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ability:
      </ion-col>
      <ion-col>
    Unit target
      </ion-col>
      <ion-col>
        Affects:
          </ion-col>
          <ion-col>
            Allied units
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Damage type:
      </ion-col>
      <ion-col>
        Magical
      </ion-col>
      <ion-col>
        Pierces spell immunity:
          </ion-col>
          <ion-col>
            No
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Duration:
      </ion-col>
      <ion-col>
        15 Seconds
      </ion-col>
      <ion-col>
        Burst Raduis
          </ion-col>
          <ion-col>
            675
              </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content class="Ccontent">
    Summons dark energies around an ally unit,
     creating a shield that absorbs a set amount of damage 
     before expiring. When the shield is destroyed it will burst
      and deal damage equal to the amount it could absorb to an
       area around it. Removes certain types of negative buffs
        and stuns on cast. DISPEL TYPE: Strong Dispel
  </ion-card-content>
</ion-card>


<ion-card>
  <img src="assets/heroesAbilities/abaddon_CurseOfAvernus.png" />
  <ion-card-header>
    <ion-card-title>Curse Of Avernus</ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
    <img src="assets/icon/mana.png">
      </ion-col>
      <ion-col>
        0
      </ion-col>
      <ion-col>
        <img src="assets/icon/cooldown.png">
          </ion-col>
          <ion-col>
            0
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ability:
      </ion-col>
      <ion-col>
    Passive
      </ion-col>
      <ion-col>
        Basic duration:
          </ion-col>
          <ion-col>
            5 Seconds
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Basic slow:
      </ion-col>
      <ion-col>
        10%/15%/
        20%/25%
      </ion-col>
      <ion-col>
        Curse duration:
          </ion-col>
          <ion-col>
            4.5 Seconds
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Curse slow:
      </ion-col>
      <ion-col>
        15%/30%/
        45%/60%
      </ion-col>
      <ion-col>
        Pierces spell immunity:
          </ion-col>
          <ion-col>
            No
              </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content class="Ccontent">
    Abaddon strikes an enemy,
     slowing the target's movement speed.
      If the target gets hit 4 times, 
      they become affected by a chilling curse causing them to be silenced and slowed,
       and all attacks against them gain an attack speed boost.
  </ion-card-content>
</ion-card>


<ion-card>
  <img src="assets/heroesAbilities/abaddon_borrowed_time.png" />
  <ion-card-header>
    <ion-card-title>Borrowed Time</ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
    <img src="assets/icon/mana.png">
      </ion-col>
      <ion-col>
        0
      </ion-col>
      <ion-col>
        <img src="assets/icon/cooldown.png">
          </ion-col>
          <ion-col>
            60/50/40
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ability:
      </ion-col>
      <ion-col>
    No target
      </ion-col>
      <ion-col>
        Health threshold
          </ion-col>
          <ion-col>
            400
              </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Duration:
      </ion-col>
      <ion-col>
        4/5/6
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content class="Ccontent">
    When activated, all damage dealt to you will heal instead of harm.
     Most negative buffs will also be removed. If the ability is not on cooldown,
      it will automatically activate if your health falls below 400.
       DISPEL TYPE: Strong Dispel
  </ion-card-content>
</ion-card>
</ion-content>