.icon img{
    height: 35px;
    width: 35px;
  }
  .content{
    display: block;
    text-align: center;
  }
  .mainImg{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .title{
    font-weight: 500;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .Ccontent{
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
    font-size: 12px;
  }
