<ion-header>
  <ion-toolbar> 
    <ion-back-button defaultHref="tabs/neutral" slot="start"></ion-back-button>
      <ion-title class="icon">
        <img src="/assets/icon/favicon.png" alt="iconNotFound">
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h1 class="title">Arcane Ring</h1>
<img src="/assets/neutralItems/Arcane_Ring_icon.png" alt="iconNotFound" class="mainImg">

<h6>ACTIVE: REPLENISH MANA</h6>
<p>Restores 75 mana to all nearby allies.</p>

<ion-grid>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/cooldown.png">
    </ion-col>
    <ion-col>
      40 Seconds
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="/assets/icon/mana.png">
    </ion-col>
    <ion-col>
      0
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    Bonus:
  </ion-col>
  <ion-col>
    +10 Intelligence
  </ion-col>
</ion-row>
<ion-row>
  <ion-col></ion-col>
  <ion-col>
    +3 Armor
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
